.main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    max-height: 90px;
    width: auto;
}

.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.link:hover {
    color: white;
}

.burgerBtn {
    display: none;
}

@media (max-width: 768px) {
    .desktopNav {
        display: none;
    }

    .burgerBtn {
        display: block;
    }
}

@media (max-width: 394px) {

    .main {
        justify-content: center;
    }
}