.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.info {
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.answers {
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: 50vh;
  margin-top: 20px;
}

.answer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.answer p {
  margin: 0;
}

.answer small {
  display: block;
  margin-top: 5px;
  color: #888;
}

.newAnswer {
  flex: 0 0 auto;
  margin-top: 20px;
}

.newAnswer textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}

.newAnswer button {
  display: block;
}

.deleteButton {
  justify-self: end;
  align-items: end;
}

.info h1 {
  font-size: 3rem;
}

.info p {
  text-align: start;
  letter-spacing: 1px;
  line-height: 1.3;
}

.answers {
  margin-bottom: 0;
}