.burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .mobileMenuOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    left: 0;
    top: 90px;
    transition: 0.3s;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul {
  list-style-type: none;
}

.links {
  display: flex;
  flex-direction: column;
}

.links li {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}